<html>
    
    <head>
        <title>
            
        </title>
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
    </head>
    <body background="http://hdlatestwallpapers.com/wp-content/uploads/2016/04/Calm-Soothing-Wallpaper.jpg">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <i class="code icon"></i>
                <div class="header item">
                    Its My Blogg
                     </div>
                <a href="/" class="item"> My Blogg </a>
                <a href="/" class="item"> home </a>
                <a href="/blogs/new" class="item"> new post </a>
                
            </div>
            
            
            
            
            
        </div>